<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>singin</title>
</head>
<body>
    
    <div id="app">
        <form @submit.prevent="singinU">
            <div>
                <label for="email">email</label>
                <input type="email" name="email" id="email" v-model="email">
                <p :class="{'has-error' : emailError[0] }" style="display: none;" v-text="emailError[1]"></p>
            </div>
            <div>
                <label for="password">password</label>
                <input type="password" name="password" id="password" v-model="password">
                <p :class="{'has-error' : passwordError[0] }" style="display: none;" v-text="passwordError[1]"></p>
            </div>
            <button type="submit">submit</button>
        </form>

    </div>
    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const App = {
            data(){
                return{
                    email:"example@mail.com",
                    password:"A0123459568a"
                }
            },
            computed:{
                emailError(){
                    let email = this.email;
                    if(this.validEmail(email))
                        return[false,null]
                    else
                        return[true,'فرمت ایمیل اشتباه است']
                },
                passwordError(){
                    let password=this.password
                    if(password.lenght<8)
                        return[true,'حداقل 8 کارکتر وارد کنید']
                    else
                    return[false,null]
                }
            },
            methods:{
                singinU (){
                    console.log(this.email,this.password)
                },
                validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
                }
            },
            
            
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>